{% extends '_layout' %}

{% block content %}

	{{include('_partials/project-header.twig', {
	    title: entry.title,
        excerpt: entry.excerpt,
        image: entry.projectImage.one().getUrl('projectCard')
	}, with_context = false)}}

	<hr class="my-16 md:my-20 lg:my-24">

	<div class="my-16 md:my-20 lg:my-24">
		{% for block in entry.pageBuilder.all() %}
			{% include '_blocks/' ~ block.type.handle  %}
		{% endfor %}
	</div>

{% endblock %}