{% extends '_layout' %}

{% block content %}

	<section class="md:pb-40 sm:h-auto pb-24 md:mt-10 border-gray-200 mb-24 md:mb-40 border-b">

		<div class="md:flex items-end  max-w-screen-xl mx-auto  ">

			<div class="w-full px-0 md:w-1/2 md:px-8 lg:px-10 sm:block">
				<div class="relative mb-8 md:mb-0 pb-3/4 md:h-card-xl">
					<img src="https://cultuurenvliegwerk.burotoast.nl/uploads/images/_baseRatio/jeremy-kwok-oj2xfiJPk-8-unsplash.jpg" alt="" title="Dit is de image title" class="object-cover w-full h-full absolute bg-minty transformed-image baseRatio" id="33" height="1080" width="720">


					<div class="absolute bottom-0 left-0 right-0 hidden p-4 m-4 bg-white md:block">
						<h4 class="m-0 font-sans text-xs font-normal text-gray-500 uppercase">Egestas eget quam.</h4>
						<h3 class="mt-2 mb-0 text-base">Vestibulum id ligula porta felis euismod semper.</h3>
					</div>

				</div>
			</div>

			<div class="px-6 mb-8 md:w-1/2 sm:mb-0 md:px-8 lg:px-10">
				<div>
					<h1 class="heading inline-block text-black break-words">Cultuur & Vliegwerk</h1>
					<p>Cultuur &amp; Vliegwerk heeft een jarenlange ervaring opgebouwd in projectmanagement en programmaleiding van culturele evenementen. Cultuur &amp; vliegwerk vertaalt inhoud naar publiek via eigentijdse programmering en concepten , met een gerichte focus op het betrekken van een breed publiek en specifieke doelgroepen.</p>
				</div>
			</div>

		</div>

	</section>

{% endblock %}
